div {
    background-color: rgb(31, 23, 23);
    color: white;
    width: 300px;
    height: 200px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;

    transition: transform 0.4s ease;
}

div:hover {
    transform: scale(0.7);
}